In [1]:
import pandas as pd
import numpy as np

In [3]:
train_data = pd.read_csv('../dataset/train.csv')
train_data.head()

,image_link,group_id,entity_name,entity_value
0,https://m.media-amazon.com/images/I/61I9XdN6OF...,748919,item_weight,500.0 gram
1,https://m.media-amazon.com/images/I/71gSRbyXmo...,916768,item_volume,1.0 cup
2,https://m.media-amazon.com/images/I/61BZ4zrjZX...,459516,item_weight,0.709 gram
3,https://m.media-amazon.com/images/I/612mrlqiI4...,459516,item_weight,0.709 gram
4,https://m.media-amazon.com/images/I/617Tl40LOX...,731432,item_weight,1400 milligram

In [3]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263859 entries, 0 to 263858
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   image_link    263859 non-null  object
 1   group_id      263859 non-null  int64
 2   entity_name   263859 non-null  object
 3   entity_value  263859 non-null  object
dtypes: int64(1), object(3)
memory usage: 8.1+ MB

In [4]:
train_data['image_link']

0         https://m.media-amazon.com/images/I/61I9XdN6OF...
1         https://m.media-amazon.com/images/I/71gSRbyXmo...
2         https://m.media-amazon.com/images/I/61BZ4zrjZX...
3         https://m.media-amazon.com/images/I/612mrlqiI4...
4         https://m.media-amazon.com/images/I/617Tl40LOX...
                                ...
263854    https://m.media-amazon.com/images/I/612J1R1xHl...
263855    https://m.media-amazon.com/images/I/61Blzh2+28...
263856    https://m.media-amazon.com/images/I/51MsegDL9V...
263857    https://m.media-amazon.com/images/I/510KhVw4VS...
263858    https://m.media-amazon.com/images/I/51lzTNLQ-6...
Name: image_link, Length: 263859, dtype: object

In [2]:
test_data = pd.read_csv('../dataset/test.csv')
test_data.head()

,index,image_link,group_id,entity_name
0,0,https://m.media-amazon.com/images/I/110EibNycl...,156839,height
1,1,https://m.media-amazon.com/images/I/11TU2clswz...,792578,width
2,2,https://m.media-amazon.com/images/I/11TU2clswz...,792578,height
3,3,https://m.media-amazon.com/images/I/11TU2clswz...,792578,depth
4,4,https://m.media-amazon.com/images/I/11gHj8dhhr...,792578,depth

In [5]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131187 entries, 0 to 131186
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   index        131187 non-null  int64
 1   image_link   131187 non-null  object
 2   group_id     131187 non-null  int64
 3   entity_name  131187 non-null  object
dtypes: int64(2), object(2)
memory usage: 4.0+ MB

In [6]:
from utils import download_images

IMAGE_BASE_LINK = "https://m.media-amazon.com/images/I/"
download_images(train_data['image_link'], r'E:\AmazonMLImages')

Exception in thread Thread-5:
Traceback (most recent call last):
  File "C:\Program Files\Python39\lib\threading.py", line 973, in _bootstrap_inner
    self.run()
  File "d:\Programs\DataScience\AmazonML\env\lib\site-packages\ipykernel\ipkernel.py", line 766, in run_closure
  0%|          | 0/263859 [00:00<?, ?it/s]    _threading_Thread_run(self)
  File "C:\Program Files\Python39\lib\threading.py", line 910, in run
    self._target(*self._args, **self._kwargs)
  File "C:\Program Files\Python39\lib\multiprocessing\pool.py", line 519, in _handle_workers
    cls._wait_for_updates(current_sentinels, change_notifier)
  File "C:\Program Files\Python39\lib\multiprocessing\pool.py", line 499, in _wait_for_updates
    wait(sentinels, timeout=timeout)
  File "C:\Program Files\Python39\lib\multiprocessing\connection.py", line 884, in wait
    ready_handles = _exhaustive_wait(waithandle_to_obj.keys(), timeout)
  File "C:\Program Files\Python39\lib\multiprocessing\connection.py", line 816, in _exhaustive_wait
    res = _winapi.WaitForMultipleObjects(L, False, timeout)
ValueError: need at most 63 handles, got a sequence of length 66
100%|██████████| 263859/263859 [00:49<00:00, 5352.33it/s]

In [3]:
from utils import download_images

IMAGE_BASE_LINK = "https://m.media-amazon.com/images/I/"
download_images(test_data['image_link'], r'E:\AmazonMLImages\test')

100%|██████████| 131187/131187 [00:18<00:00, 7152.91it/s]